@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');
@import "./utils/mixins.scss";
@import "./header.scss";
@import "./about.scss";

.body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.body--with-menu {
  overflow: hidden;
}

.container {
  margin: 0 auto;

  &--regular {
    max-width: 280px;

    @include onTablet {
      max-width: 620px;
    }
  
    @include onDesktop {
      max-width: 1121px;
    }
  }

  &--wide {
    width: 100%;
  }
}