@mixin onTablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) and (max-width: 2559px) {
    @content;
  }
}

@mixin regularParagraph {
  font-size: 14px;
  color: #86878b;
  line-height: 20px;
}

@mixin regularHeading {
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}